div.feature {
    display: grid;
    grid-template-columns: 2.8em 14em auto;
    align-items: center;
    grid-column-gap: 10px;
}

div.feature-title {
    position: relative;
}

span.zh-title {
    position: absolute;
    top: -16px;
    left: 4.5em;
    color: dimgray;
    font-size: 0.5em;
}

p.title-initial {
    display: inline;
    font-size: 3em;
    font-style: italic;
    font-weight: bold;
    color: dodgerblue;
}

p.title-rest {
    display: inline;
    font-size: 2em;
}

div.feature-title {
    width: 100%;
}

.wy-nav-content {
    max-width: 80%;
}

img.feature-icon {
    height: 2.8em;
    width: 2.8em;
    margin-bottom: 0.8em;
}

.wrong-example .highlight pre .hll {
    background-color: lightpink;
}

.wy-table-responsive table td,
.wy-table-responsive table th {
    white-space: normal;
}

ul.method-introduction p {
    margin-left: 4em;
    font-size: smaller;
}

ul.method-introduction div.code-example div.highlight-rust {
    margin-left: 3.4em;
}

.wy-side-nav-search .wy-dropdown > a img.logo,
.wy-side-nav-search > a img.logo {
    width: 50%;
    height: 50%;
}

.wy-side-nav-search {
    background-color: skyblue;
}

p.caption span.caption-text {
    color: skyblue;
}
